*{
    text-align: center;
    text-decoration: none;
    
}

a{
    color: white;
}

body{
    background-color: rgb(255, 255, 255);
}

.first{
    border: solid 3px black;
    background-color:rgb(0, 0, 0);
    color: white;
    
}



.second{
    border: solid 3px #4C0033;
    height: 250px;
    background-color:#4C0033;
    text-align: center;
    margin-top: 18px;
    color: white;
    
}

.third{
    border: solid 3px #790252;
    height: 250px;
    background-color:#790252;
    margin-top: 8px;
    color: white;
}

.forth{
    border: solid 3px #AF0171;
    height: 250px;
    background-color:#AF0171;
    margin-top: 8px;
    color: white;
}

.fifth{
    border: solid 3px #E80F88;
    height: 250px;
    background-color:#E80F88;   
    margin-top: 8px;
    color: white;
}



/* Lab Manual  */

h2{
    color: black;
}

.one{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.two{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.three{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.four{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.five{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.six{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.seven{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.eight{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.nine{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.ten{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

h1{
    font-family: 'Kalam', cursive;
}