*{
    text-align: center;
    text-decoration: none;
    
}

a{
    color: white;
}

body{
    background-color: rgb(255, 255, 255);
}

.first{
    border: solid 3px black;
    background-color:rgb(0, 0, 0);
    color: white;
    
}



.second{
    border: solid 3px #694E4E;
    height: 250px;
    background-color:#694E4E;
    text-align: center;
    margin-top: 18px;
    color: white;
    
}

.third{
    border: solid 3px #886F6F;
    height: 250px;
    background-color:#886F6F;
    margin-top: 8px;
    color: white;
}

.forth{
    border: solid 3px #C1A3A3;
    height: 250px;
    background-color:#C1A3A3;
    margin-top: 8px;
    color: white;
}

.fifth{
    border: solid 3px #F3C5C5;
    height: 250px;
    background-color:#F3C5C5;   
    margin-top: 8px;
    color: white;
}



/* Lab Manual  */

h2{
    color: black;
}

.one{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.two{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.three{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.four{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.five{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.six{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.seven{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.eight{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.nine{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

.ten{
    border: solid 3px #434242;
    height: 250px;
    background-color:#434242;
    text-align: center;
    margin-top: 18px;
    color: white;
}

h1{
    font-family: 'Kalam', cursive;
}